<div class="list-wrapper h-100 mt-0 bg-dark p-1">

    <ul class="m-0 p-0 w-100 ">

        <li class="w-100 p-3 border-dark border">
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="fs-5">Company</div>
                    <div><a href=""><span class="text-success fs-2 bi bi-plus-circle"></span></a></div>
                </div>
                <div class="mt-3"><input type="search" placeholder="Search" class="w-100 form-control"></div>
            </div>
        </li>

        <!-- main company list start here  -->
        <!-- data1 -->
        <div class="list border border-2 pt-2 px-1 m-0">
            <li class="p-1 px-4 list border border-white d-flex align-items-center justify-content-between">
                <a href="dfkuugfyguy"
                    class="d-flex text-decoration-none align-items-center justify-content-between w-100">
                    <div class="logo rounded-circle border border-white"><span class="">1R</span></div>
                    <div>1Rivet</div>
                    <div><a href="122"><span class="text-danger bi bi-trash3-fill fs-2"></span></a></div>
                </a>
            </li>
            <li class="p-1 px-4 list border border-white d-flex align-items-center justify-content-between">
                <a href="dfkuugfyguy"
                    class="d-flex text-decoration-none align-items-center justify-content-between w-100">
                    <div class="logo rounded-circle border border-white"><span class="">1R</span></div>
                    <div>1Rivet</div>
                    <div><a href="122"><span class="text-danger bi bi-trash3-fill fs-2"></span></a></div>
                </a>
            </li>

        </div>
    </ul>

</div>