.box {
    background-color: rgb(218, 218, 218);
    height: 45px;
    cursor: pointer;
    transition: bottom 2s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;



    select-dropdown {
        color: black;
    }
}


p.option {
    display: inline-block;
    padding: 5px;
    color: black;
    background-color: grey;
}